.reportForm {
  width: 100%;
  min-height: 300px;
}

.title {
  text-align: left;
  font-size: 22px;
  margin-bottom: 0;
  font-weight: 600;
}

.close {
  position: absolute;
  right: 20px;
  top: 30px;
  cursor: pointer;
  height: 18px;
  transform: translateY(15%);
  width: 18px;
  border: 0;
  padding: 0;
  background: none;
  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: invert(100%);
  }
}

.label {
  display: block;
  margin-top: 10px;
  font-size: 14px;
  font-weight: 500;
  &:nth-child(3) {
    margin-top: 20px;
  }
}

.file {
  margin-top: 20px;
  font-size: 14px;
}

.classes {
  height: 40px;
  width: 100%;
  padding: 0 20px;
  font-size: 12px;
  text-align: left;
  appearance: none;
  background: #fff;
  border: 1px solid #e2e2e2;
  color: #353535;
  border-radius: 10px;
  cursor: pointer;
  &:focus {
    outline: 1px solid var(--main-color);
  }
}

.button {
  margin-top: 20px;
}

.error {
  color: #e53e3e;
  margin-top: 5px;
  font-size: 12px;
}
